* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: antiquewhite;
}
.divcard {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  perspective: 1000px;
}
.boxcontent {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform: rotateY(0deg);
}
.cardfront,
.cardback {
  width: 300px;
  height: 300px;
  color: antiquewhite;
  position: absolute;
  backface-visibility: hidden;
}
.cardback {
  background-color: black;
  text-align: center;
  padding: 20px;
  transform: rotateY(180deg);
}
.cardback p {
  margin-top: 30px;
}
.cardfront {
  background-color: rgb(2, 99, 29);
}

h4 {
  text-align: center;
  font-size: 30px;
}

.divcard:hover .boxcontent {
  transform: rotateY(180deg);
}
